a {
	color:  #ffffff !important;
}

h6, ul,.card-body,.lead{
	font-family: Montserrat;
	font-weight: bold;
}

h1 {
	font-family: "Dancing Script";
	font-weight: bold !important;
}

#hero {
	/*position: relative;*/
	height: 100vh;
}

#nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}