a {
	color: #ffffff !important;
	margin-right: 5px !important;
	/*color: inherit;*/
}

ul {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgb(33, 37, 41);
}

p, h2, h6, ul, .card-body, .lead{
	font-family: Montserrat;
	font-weight: bold;
}

h1 {
	text-align: center;
	font-family: "Dancing Script";
	font-weight: bold !important;
}

#nav {
	font-family: Montserrat;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

#galeria{
	background-color: #e4e4e4;
	position:  inherit;
	height: 400px;
	position:  relative;
	height: 600px;
	width: 100%;
	display: flex;
	align-items: center;	
	margin-left: 30px;
	margin-right: 30px;
	min-width: 665px;
}

.swiper{

	width: 1200px;
	width: 1000px;
}

.card{
	position: relative;
	border-radius: 20px;
	margin: 20px 0;
	text-align: center;
}

#galeria .card .image{
	height:  80%;
	width: 80%;
	cursor:  pointer;
	padding: 25px;
}

#galeria .card .image img{
	height:  80%;
	width: 80%;
	border-radius: 20px;
	transition: all 0.4s;
	opacity: 100%;
	background-color: #f4f4f4;
}

#galeria .card .image img:hover{
	transform: scale(1.09);
	opacity: 100%;
}

.card-title{
	text-align: center;
}

.swiper-pagination{
	position: absolute;
	position: relative;
}

.swiper-button-next, .swiper-button-prev{
	opacity: 0.7;
	color: #cc0707;
	transition: all 0.3s ease;

} 

.swiper-button-next:hover, .swiper-button-prev:hover{
	opacity: 1;
	color: #ffffff;
}


.footer{
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f4f4f4;
    border-top: .05rem solid #e5e5e5;
}

section	h6 {
	text-align: center;
	position: relative;
}

.sobre {
	text-align: center;
	align-items: center;
}

frame{
	align-items: center;
}

hr {
	max-width: 50%;
}

.card img{
	border-radius: 180px;
	max-width: 80%;
	max-height: 80%;
	align-items: center;
	padding-top: 10px;
}

.navbar-toggler {
	margin-right: 10px;
}

/*html {
  scroll-behavior: auto !important;
}*/

/* Para detectar ghost elements
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/
/*body {
  background-image: url("/images/hobby-pesca.png");
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-size: cover;
   background-position: center;
}*/